* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  height: 30px;
}

.cell {
  width: 30px;
  height: 30px;
  outline: 1px solid rgb(134, 154, 189);
  display: inline-block;
}

span {
  color: grey;
  font-size: 14px;
}

.blockT {
  background-color: #a000f1;
}

.blockZ {
  background-color: #f00102;
}

.blockS {
  background-color: #47f000;
}

.blockL {
  background-color: #efa001;
}

.blockJ {
  background-color: #1800ec;
}

.blockO {
  background-color: #eff300;
}

.blockI {
  background-color: #4ceff1;
}
